<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../bootstrap/css/styles.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <script src="../bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../bootstrap/js/popper.min.js"></script>
</head>
<body>
<div class="header">
    <div>
        <H3>KyUMSA</H3>
    </div>
    <div class="lists">
        <ul>
            <li><a href="#" class="anchor1">Home</a></li>
            <li><a href="#" class="anchor1">About</a></li>
            <li><a href="#" class="anchor1">Gallery</a></li>
            <li><a href="#" class="anchor1">Leaders</a></li>
            <li><a href="#" class="anchor1">Contact Us</a></li>
        </ul>
    </div>
    <div>

    </div>
</div>
<div class="muslim-praying">
    <img src="../image/building-4751158_640.png" alt="">
</div>
<div class="about-div">
    <div><h2><span>ABOUT</span> US</h2></div>
    <div class="about-left">
        <div>
            <img src="../image/masjid-2837144_640.png" alt="">
        </div>
        <div class="about-right">
            <h2>Good things come to those <span>who help</span> others</h2>
            <p>The Kirinyaga University Muslims Students Association (KyUMSA) is a student-run organization that aims
                to provide a supportive community for Muslim students at Kirinyaga University. Our mission is to promote understanding and
                appreciation of Islam on campus and to provide opportunities for spiritual, social, and academic growth. We offer a variety of events
                and activities, including weekly
                Jumu'ah prayers, Islamic study sessions, and community service projects.</p>
            <p>The Organisation also carries activities outside school. Some main activities includes: visting orphange school near us, participating
                islamic rallies together with the other universities in the country</p>

            <input type="submit" value="REGISTER" name="registration">

        </div>
    </div>
</div>
<div>

    <div class="prayer-times">
        <div class="container">
            <h2>PRAYER TIMES</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Prayer</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Fajr</td>
                    <td>Doe</td>
                </tr>
                <tr>
                    <td>Dhuhr</td>
                    <td>Moe</td>
                </tr>
                <tr>
                    <td>Asr</td>
                    <td>Dooley</td>

                </tr>
                <tr>
                    <td>Maghrib</td>
                    <td>Dooley</td>

                </tr>
                <tr>
                    <td>Ishaa</td>
                    <td>Dooley</td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="verse">
            <p>"O ye who believe! Be mindful of your duty to Allah, and seek the way of approach unto Him, and strive in His way in order that
                ye may succeed. "
                Surah Surah Al-Imran - Verse 110</p>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery-head">
            <H1><span>OUR</span> GALLERY</H1>
        </div>
        <div class="images">
            <img src="../image/masjid-2837144_640.png" alt="" class="image1">
            <img src="../image/masjid-2837144_640.png" alt="" class="image2">
            <img src="../image/masjid-2837144_640.png" alt="" class="image3">
        </div>
    </div>
</body>
</html>